{% extends "ferrari/layout.html" %}
{% load static %}


{% block style %}<link rel="stylesheet" href="{% static 'ferrari/css/style.css' %}">
<style>
     .banner.home, .site-footer {
        display:none;
     }
</style>
{% endblock style %}
{% block title %}Password Reset Sent{% endblock title %}

{% block body %}

</div>

<div class="container-sent">
	<div class="row-sent">
		<div class="col-md-4 col-md-offset-4">
      <div class="card sent">
        <center>
          <h1>Reset Sent</h1>
            <div class="signup_link" style="padding: 10px; color: #a70000;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
        </center>
      </div>    
    </div>   
  </div>
</div>

<script>
  const nav = document.querySelector('.nav')
  const menu = document.querySelector('.menu');
  const banner = document.querySelector('.banner.home');
  banner.style.display = 'none';
  banner.style.minHeight = '0';
  menu.addEventListener('click', () => {
      if (banner.style.display === 'block') {
          banner.style.display = 'none';
      } else {
          banner.style.display = 'block';
      }
      menu.classList.toggle('active');
      nav.classList.toggle('active');
  })
</script>
{% endblock body %}